body{
    margin: 0;
    font-family: verdana, sans-serif;
}
h1.text{
    font-style: ;
    margin-top:0;
    margin-bottom: 0;
    display:inline-block;
    position:relative;
    left:30%;
    top:100px;
    font-family:'sacramento',sans-serif;
    font-size:4.6rem;
}
.h2
{
    position:relative;
    top:50px;
    left:36%;
    font-family: 'montserrat',sans-serif;
    font-size:2.5rem;

}
.begin_content{
    height:600px;
    width:100%;
    background-color:#77D970;
}
  
.mid_content{
    width:100%;
    height:1830px;
} 
.end_content{
    width:100%;
    height:150px;
    background-color:#11999E;
}
.mountain{
    position:relative;
    top:18px;
    left:30%;
}
.cloud1{
    position:relative;
    top:250px;
    left:18%;
}
.cloud2{
    position:relative;
    left:30%;
    bottom:450px;
    
}
.profile{
    height:280px;
    width:280px;
    position:relative;
    left:22%;
    top:40px;
}
.intro
{
    position:relative;
    left:18%;
    bottom:270px;
    font-family:'montserrat',sans-serif;
    font-size:28px;
    text-align: center;
}
.hello{
    font-size:2.5rem;
    position:relative;
    top:20px;
}
hr.intro_hr{
    border-style:dotted none none;
    border-color:blue;
    border-width:20px;
    width:10%;
    position:relative;
    top:120px;
    right:15%;
}
.to_do{
    position: relative;
    text-align: center;
    font-family:'montserrat',sans-serif;
    font-size:28px;
    right:150px;

}
.doimage
{
    height:280px;
    width:280px;
    position:relative;
    left:45%;
    bottom:280px;
}
.what_canI_do{
    font-size:2.8rem;
    position: relative;
    left:200px;
    bottom:100px;
}
.design{
    font-size:2rem;
    text-align: left;
    color:blueviolet;
    position:relative;
    left:20%;
    bottom:10px;
}
.design1_content{
    text-align:left;
    position:relative;
    left:20%;
    bottom:20px;
}
.you_need{
    position: relative;
    text-align: center;
    font-family:'montserrat',sans-serif;
    font-size:28px;

}
.content_need{
    position: relative;
    text-align: center;
    font-family:'montserrat',sans-serif;
    font-size:28px;
    left:4%;
    bottom:80px;
    color:blueviolet;
    font-size: 2rem;

}
.develop1_content
{
    position:relative;
    left:41%;
    bottom:90px;
    text-align:left;
}
.needimage{
    height:280px;
    width:280px;
    position: relative;
    right:24%;
    bottom:350px;
}
.todo_hr{
    border-style:dotted none none;
    border-color:blue;
    border-width:20px;
    width:10%;
    position:relative;
    bottom:300px;
    left:3%;
}
.ican_mentor{
    font-family: '.mountain',sans-serif;
    font-size: 2.8rem;
    position:relative;
    left:43%;
    bottom:270px;
}
.freelance{
    font-family: 'montserrat',sans-serif;
    color:#864879;
    font-size: 1.8rem;
    position: relative;
    left:32%;
    bottom:270px;
}
.message
{
    position:relative;
    left:48%;
    bottom:260px;

    background: #0f0f0f;
    background-image: -webkit-linear-gradient(top, #0f0f0f, #2980b9);
    background-image: -moz-linear-gradient(top, #0f0f0f, #2980b9);
    background-image: -ms-linear-gradient(top, #0f0f0f, #2980b9);
    background-image: -o-linear-gradient(top, #0f0f0f, #2980b9);
    background-image: linear-gradient(to bottom, #0f0f0f, #2980b9);
    -webkit-border-radius: 19;
    -moz-border-radius: 19;
    border-radius: 19px;
    font-family: Georgia;
    color: #e3dce3;
    font-size: 22px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}   

.message:hover{
        background: #185b85;
        text-decoration: none;
}
.insta{
    color:#541212;
    text-decoration: none;
    font-family: 'motserrat',sans-serif;
    font-size:30px;
    position:relative;
    left:35%;
    top:20px;
}
.linked{
    color:#541212;
    text-decoration: none;
    font-family: 'motserrat',sans-serif;
    font-size:30px ;
    position:relative;
    left:55%;
    top:20px;
}
.copyright{
    color:#541212;
    text-decoration: none;
    font-family: 'motserrat',sans-serif;
    font-size:30px ;
    position:relative;
    left:24%;
    top:80px;
}
.insta:hover{
    COLOR: #EAF6F6;
}
.linked:hover{
    color: #EAF6F6;
}
.copyright:hover{
    color: #EAF6F6;
}